<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="BirthdayCakeEntities" connectionString="metadata=res://*/Models.BirthdayCakeModel.csdl|res://*/Models.BirthdayCakeModel.ssdl|res://*/Models.BirthdayCakeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK118\SQLEXPRESS;initial catalog=BirthdayCake;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>